<div class="row justify-content-center mt-3">
  <div class="col col-md-4">

    <h2>Sign up</h2>

      <div class="card border-primary">
        <div class="card-body">

          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>

            <div class="form-group">
              <p>
                <%= f.label :email %><br />
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control' %>
              </p>

              <p>
                <%= f.label :password %>
                <% if @minimum_password_length %>
                <em>(<%= @minimum_password_length %> characters minimum)</em>
                <% end %><br />
                <%= f.password_field :password, autocomplete: "new-password", class: 'form-control' %>
              </p>

              <p>
                <%= f.label :password_confirmation %><br />
                <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'form-control' %>
              </p>


              <%= f.submit "Sign up", class: 'btn btn-primary' %>

            </div>

          <% end %>

        </div>
      </div>

    <div class="mt-1, text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
